.forwardedPost {
    transition: opacity 0.5s;
    background: var(--main-color);
    padding: 15px;
    border-radius: 20px;
    gap: 10px;

    height: fit-content;
    display: flex;

    border: 2px solid var(--following-color);

    transition: background-color 0.2s;
}

.forwardedPost:hover {
    background: var(--highlight-color);
    cursor: pointer;
}

.forwardedPost .top {
    display: flex;
    gap: 10px;
    flex: 1;
}

.forwardedPost .center {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;

}

.forwardedPost .reactions {
    grid-area: unset;

}

.forwardedPost .content .photo {
    border-radius: 20px;
    max-height: 575px;
    overflow: hidden;
}

.forwardedPost .content .text {
    width: fit-content;
    height: fit-content;

    line-height: 1.3125;

}

.forwardedPost a {
    color: var(--accent-color);
    width: fit-content;
    height: fit-content;
}
.forwardedPost a:hover {
    opacity: 1;
}

.forwardedPost .title {
    align-items: center;
    gap: 5px;
    height: fit-content;
    max-width: 100%;
    
    font-size: 14px;

    display: grid;
    grid-auto-flow: column;
}

.forwardedPost .title .info {
    display: flex;
    align-items: center;
    gap: 5px;
    height: fit-content;

    overflow: hidden;
    
}

.forwardedPost .title .info .name {
    color: var(--font-color);
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    line-height: 1;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;

    max-width: 100%;

    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    

}

.forwardedPost .title .info .name.creator {
    background: color-mix(in srgb, var(--font-color) 40%, var(--main-color));
    padding: 3px 7px 3px 7px;
    border-radius: 20px;
    color: white;
}

.forwardedPost .title .info time {
    color: var(--buttons-color);
    text-decoration: none;

    min-width: fit-content;
    overflow: hidden;

    
    height: fit-content;
    line-height: 1;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.forwardedPost .title .info .edited {
    color: var(--buttons-color);
    text-decoration: none;

    min-width: fit-content;
    overflow: hidden;

    
    height: fit-content;
    line-height: 1;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.forwardedPost .title .info .name:hover {
    opacity: 1;
}

.forwardedPost .title .info > svg {
    fill: var(--buttons-color);
    width: 13px;
    min-width: 13px;

}

.forwardedPost .title .info svg.verified {
    fill: var(--accent-color);
}

.forwardedPost > .buttons {
    display: flex;
    align-items: center;


}

.forwardedPost > .buttons .replies {
    height: fit-content;
    color: var(--accent-color);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;

    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
    line-height: 1;

}

.forwardedPost > .buttons .replies svg {
    fill: var(--accent-color);
    width: 18px;
}

.forwardedPost .title .shareButton {
    background: transparent;
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-inline-start: auto;
    border: none;
    cursor: pointer;
}

.forwardedPost .title .optionsButton {
    background: transparent;
    width: 20px;
    min-width: 20px;
    height: fit-content;
    margin-inline-start: auto;
    border: none;
    cursor: pointer;
}
.forwardedPost .title .optionsButton svg {
    fill: var(--buttons-color);
}

.forwardedPost .title .shareButton svg {
    width: 100%;
    height: 100%;
    fill: var(--accent-color);
}


.forwardedPost .avatarWrapper {
    position: relative;

}

.forwardedPost .avatar {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;

    border-radius: 20px;

}


.forwardedPost .content {
    display: grid;
    gap: 5px;

    word-break: break-word;
    white-space: pre-wrap;
}

.forwardedPost .onePicture {
    width: 100%;

    max-height: 575px;

    position: relative;
    overflow: hidden;
    border-radius: 15px;
    
}

.forwardedPost .photo {
    cursor: unset !important;
}

.forwardedPost .error {
    color: var(--font-color);
    font-family: 'Rubik', sans-serif;
}