main.settingsView .window  {
    background: var(--main-color);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;

}
@media only screen and (max-width: 480px) {
	main.settingsView .window {
		padding-top: calc(env(safe-area-inset-top) + 55px + 20px);
        padding-bottom: calc(env(safe-area-inset-bottom) + 60px + 20px);
        border-radius: 0px;
        flex: 1;

        width: unset;
    }

    main.settingsView.selected .settingsSidebar {
        display: none;
    }

    main.settingsView:not(.selected) .window {
        display: none;
    }

    .categoryTitle {
        display: none !important;
    }

    main.settingsView .settingsSidebar {
        width: 100%;
        box-sizing: border-box;

        padding-top: calc(env(safe-area-inset-top) + 55px + 20px);
        padding-bottom: calc(env(safe-area-inset-bottom) + 60px + 20px);
        border-radius: 0px;
        flex: 1;

        position: unset;
        top: unset;
    }
}

main.settingsView .window .block {
    display: grid;
    gap: 7px;
}

main.settingsView .window .block .blockTitle {
    font-family: 'Rubik';
    font-weight: 500;
    opacity: 0.5;
}

main.settingsView .window .block .blockDescription {
    font-family: 'Rubik';
    font-weight: 400;
    opacity: 0.5;
    font-size: 14px;
}

main.settingsView .window .rose {
    width: 20px;
}

.changeAvatar {
    display: grid;
    justify-content: center;
    gap: 10px;
}
.changeAvatar .avatarWrapper {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    position: relative;
    cursor: pointer;
    justify-self: center;
}

.changeAvatar .badge {
    padding: 5px;
    bottom: 0px;
    position: absolute;
    right: 0;
    background: color-mix(in srgb, var(--accent-color) 15%, var(--main-color));
    display: flex;
    border-radius: 15px;
    outline: 5px solid var(--main-color);
}
.changeAvatar .badge svg {
    width: 15px;
    height: 15px;
    fill: var(--accent-color);
}

.changeAvatar .delete {
    font-family: 'Rubik';
    color: var(--accent-color);
    background: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.optionWrapper {
    background: var(--input-color);
    padding: 12px;

    border-radius: 100px;

    display: flex;
    align-items: center;

    font-family: 'Rubik';

}

.optionWrapper .switch {
    margin-inline-start: auto;
}


.clearCache {
    background: var(--accent-color);
    outline: none;
    border: none;
    font-size: 15px;
    font-family: 'Rubik';
    border-radius: 15px;
    padding: 16px;
    font-weight: 450;

    display: flex;
    justify-content: center;
    gap: 7px;
    cursor: pointer;
    color: white;

    transition: scale 0.2s;
}

.clearCache:active {
    scale: 0.95;
}

.clearCache span {
    opacity: 0.75;

}

.categoriesList {
    display: grid;
    border-radius: 15px;

    height: fit-content;
    background: var(--input-color);

    overflow: hidden;

}

.categoriesList .category {
    display: flex;
    align-items: center;
    font-size: 15px;
    outline: none;
    border: none;
    font-family: 'Rubik';
    font-weight: 450;
    background: var(--input-color);
    color: var(--font-color);

    transition: 0.2s background-color, 0.2s opacity;
    position: relative;
    gap: 15px;
    

    overflow: hidden;
}

.categoriesList .category.reset .option {
    justify-content: center;
    color: var(--red-pallete-color)
}

.categoriesList .category.reset .option .title {
    gap: 10px;
}

.categoriesList .category.reset .option svg {
    fill: var(--red-pallete-color);
}


.modal .reset {
    background: var(--red-pallete-color) !important;
    color: white !important;
}

.categoriesList button.category {
    cursor: pointer;
}

/* смартфоны, устройства с сенсорным экраном, с которым работают пальцами */
@media (hover: none) and (pointer: coarse) {
    .categoriesList button.category:active {
        background: color-mix(in srgb, var(--input-color) 90%, var(--font-color));
    }
}
/* мышь, тачпад */
@media (hover: hover) and (pointer: fine) {
    .categoriesList button.category:hover {
        background: color-mix(in srgb, var(--input-color) 90%, var(--font-color));
    }
}


.categoriesList .category:first-of-type {
    border-radius: 15px 15px 0px 0px;
}

.categoriesList .category:last-of-type {
    border-radius: 0px 0px 15px 15px;
}

.categoriesList .category:only-child {
    border-radius: 15px;
}

.categoriesList .category:disabled {
    opacity: 0.65;
    pointer-events: none;
}

.categoriesList .category .title {
    display: flex;
    align-items: center;
    gap: 15px;

    width: fit-content;
    text-wrap: nowrap;

}

.categoriesList .category .title svg {
    width: 25px;
    height: 25px;
    fill: var(--buttons-color);
}


.categoriesList .category .subTitle {
    margin-inline-start: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: color-mix(in srgb, var(--font-color) 50%, var(--main-color));


    overflow: hidden;
}

.categoriesList .category .subTitle .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}



.categoriesList .category hr {
    height: 28px;
    min-width: 2px;
    width: 2px;
    background-color: color-mix(in srgb, var(--font-color) 30%, var(--main-color));
    border: none;
    border-radius: 2px;
    opacity: 0.5;
}

.categoriesList .category .option {
    display: flex;

    overflow: hidden;
    gap: 15px;
}

.categoriesList .category .option:first-of-type {
    padding: 15px 0px 15px 15px;
    width: 100%;

}

.categoriesList .category .option:last-of-type {
    padding: 15px 15px 15px 0px;
}

.categoriesList .category .option:only-of-type {
    padding: 15px;
}


.categoriesList .category .arrow {
    width: 15px;
    height: 15px;
    fill: color-mix(in srgb, var(--font-color) 50%, var(--main-color));
}

.categoriesList .category .switch {
    pointer-events: none;
}
.categoriesList .category .checkbox {
    pointer-events: none;
}

.categoriesList hr {
    width: calc(100% - 30px);
    height: 1px; /* Высота линии разделения */
    border-radius: 2px;
    background-color: color-mix(in srgb, var(--font-color) 12%, var(--main-color));
    border: none;

    margin-left: auto;
    margin-right: auto;

}

.categoriesList hr:last-of-type {
    display: none;
}


.settingsSidebar {
    width: 300px;
    background: var(--main-color);
    padding: 20px;
    border-radius: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;

    position: sticky;
    top: 95px;
}

.categoryTitle {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;

    display: flex;
    gap: 5px;
    align-items: center;
}

.categoryTitle .previous {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s;
}

.categoryTitle .previous:hover {
    opacity: 0.75;
}

.categoryTitle svg {
    width: 17px;
    height: 17px;
    fill: var(--font-color);
    opacity: 0.5;
}

.noResults {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: color-mix(in srgb, var(--font-color) 50%, var(--main-color));
    margin-top: 20px;
    justify-items: center;
    align-items: center;
    display: grid;
    flex: 1;
}