.radio {
    position: relative;
    display: inline-block;

    --width: 28px;
    width: var(--width);
    height: var(--width);
    min-width: var(--width);
}
  
.radio input {
    display: none;
}
  
.radio .point {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--switcher-color);
    transition: .25s;
    border-radius: var(--width);
}

.radio .point:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;

    left: 7px;
    bottom: 7px;
    background-color: white;
    transition: .25s;
    border-radius: 50%;

    scale: 0;
    opacity: 0;
}

input:checked + .point {
    background: var(--accent-color);
}

input:focus + .point {
    box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .point:before {
    scale: 1;
    opacity: 1;
}