.logoiPhoneBadge {
    position: fixed;
    top: 4px;
    margin: auto;
    left: 0;
    right: 0;

    font-family: 'Rubik';

    display: flex;
    align-items: center;
    padding: 4px 15px 4px 15px;
    border-radius: 20px;
    width: fit-content;
    gap: 7px;
    font-weight: 500;
    font-size: 14px;

    background: var(--highlight-color);
}

.logoiPhoneBadge img {
    width: 15px;
}